<div class="container teamMembers">
	<STYLE TYPE="text/css">
		body{
			background-color: white !important;
		}
	</STYLE>
	<!-- <div class="panel"> -->
		<div class="row">
			<div class="col-sm-4">
				<img alt="" class="pic team-pic" src="images/amit.jpg">
			</div>

			<div class="col-sm-8">
				<h3><a href="#" target="blank"><STRONG>Amit</STRONG> Rana</a>
				<a href="https://www.odesk.com/users/~01c75cd9b3afd3b2ff" target="blank"><img class="icon" src="images/odesk_logo.png"></a>
				</h3>

				<h4>Web Developer &amp; Data Visualisation Engineer</h4>

				<p>Amit rana is experience web developer with following technologies.</p>
				<p>Angular.js, Node.js, backbond.js  , D3.js Raphael.js , JQuery , JQuery mobile , Java, GWT, GXT,  HTML/HTML5 , CSS/CSS3 .Loved to working and experiments with cutting edge new technologies. Customized visualizations/ Scripts/ architecture are the key feature of Amit.</p>
				<p>Apart from data visualization & JQuery, Amit work on front-ends with focus on speed and optimization. Also working with Web Game development on small scale with Unity or html5 game lib like three.js, WebGL .</p>
			</div>
		</div>
	<!-- </div>	 -->
</div>