/*@media screen and (min-width: 1px) and (max-width: 480px){
  #portfolios[data-columns]::before {
    content: '1 col-xs-12';
  }
}

@media screen and (min-width: 481px) and (max-width: 767px){
  #portfolios[data-columns]::before {
    content: '2 col-xs-6';
  }
}
@media screen and (min-width:768px) and (max-width: 991px){
  #portfolios[data-columns]::before {
    content: '3 col-sm-4';
  }
}
@media screen and (min-width:992px) and (max-width: 9999px){
  #portfolios[data-columns]::before {
    content: '4 col-md-3';
  }
}*/


@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

/*.mainContainer{margin-top: 50px;}*/

.item.panel.panel-primary {
  margin: 10px;
}

.itemInit{
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  animation-name: fly;
  animation-duration: 0.8s ;

  -moz-animation-name: fly;
  -moz-animation-duration: 0.8s ;

  -webkit-animation-name: fly;
  -webkit-animation-duration: 0.8s ;
}
@-webkit-keyframes fly {
  from { margin-top: 2000px;opacity: 0; }
    to { margin-top: 10px;opacity: 1; }
}
@-moz-keyframes fly {
 from { margin-top: 2000px; opacity: 0;}
    to { margin-top: 10px; opacity: 1;}
}
@keyframes fly {
  from { margin-top: 2000px; opacity: 0;}
    to { margin-top: 10px; opacity: 1;}
}


.teamMembers h3 {
    font-size: 36px;
    color: #375f92 !important;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 16px;
}

.teamMembers h4 {
    padding-bottom: 1.5em;
}

.teamMembers p {
    font-size: 18px;
    padding-bottom: 1em;
    color: #7e7e7e;
}

.teamMembers .row {
    padding-bottom: 2em;
}
img.icon{
  height: 26px;
  width: 26px;
}
img.pic {
    border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

img.pic.team-pic {
    width: 200px;
    height: 200px;
}

img.pic.team-small {
    width: 100px;
    height: 100px;
}
